# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Django
*.sqlite3
*.log

# Environment variables
.env

# IDE (PyCharm)
.idea/

# Windows system files
Thumbs.db

staticfiles/
